.header{
    display:flex;
    flex-direction:row;
    margin: 20 px;
    justify-content: center;
    /* background-color: #777777; */
}
.personal{
    background-color: #777777;

}
.header__image{
    max-width:400px;
    max-height:500px;
    flex:1;
    margin:0px 30px 30px  30px;
}
.title{
    margin-left:100px;
}
.header__info{
    margin-right:20 px;
    flex:2;
}
.header__info--table{
    height:250px;
    font-size:20px;
    margin-left:100px;
}
.skill__title{
    text-align: center;
}