*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #fff;
}
.personal{
    background-color: #191616;
    margin:0px 200px 0px 200px;
}
   
/* Phần Header */
.header{
    display:flex;
    flex-direction:row;
    margin: 20 px;
    /* border-bottom: 3px solid #0af65c; */
    
}

.header__image{
    max-width:300px;
    max-height:300px;
    flex:1;
    margin:0px 30px 30px  30px;
    border-radius: 150px;
}
.title{
    margin-left:100px;
    border-bottom: 3px solid #0af65c;
    max-width:350px;
}
.para{
    margin-left:100px;
    max-width:350px;
}
.header__info{
    margin-right:20 px;
    flex:2;
}
.header__info--table{
    height:200px;
    font-size:20px;
    margin-left:100px;
}

/* Phần Skill */

.skill__title{
    text-align: center;
}
.skill__box{
    display:flex;
    flex-direction:column;
}
.skill__block{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
.skill___block--item{
    display:flex;
    flex-direction: row;
    margin:20px;
}
.skill__block-content{
    margin-left:10px;
}


/* document */
/* .documnent{

} */
.certificate{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.certificate__image{
    max-width:300px;
    max-height:300px;
}
.contact__content--table{
    height:150px;
    font-size:20px;
    width:400px;
    margin-left:100px;
    border-bottom: 3px solid #232825;
}
.contact__icon{
    display: flex;
    flex-direction: row;
    margin-left:100px;
}
.contact__icon--item{
    margin-right:20px;
}